/* add css module styles here (optional) */

.test {
  text-align: center;
  box-shadow: 10px 10px rgba(0,0,0,0, 12);
  display: block;
}
.test img{
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 10px;
}